
.about-container {
    width:100%;
    height: auto;
}

.about-container__content {
    padding: 3rem 0;
    width:100%;
    text-align: center;
}

.about-container__content-image {
    width:100%;
}

.about-container__content-image >img {
    border-radius: 50%;
    width: 60vw;
    margin:auto;
    border:solid 4px #66717E;
}


.about-container__content-bio-text {
    text-align: justify;
    width: 90%;
    margin: auto;
    line-height: 150%;
}


#social-container {
    background-color: rgba(202, 98, 1, 0.2);
    text-align: center;
    padding: 3rem 0;
}


.social-container__content{
    width: 100%;
    color: white;
    text-align: center;
    margin: auto;
    display: inline-block;
  }
  
  .social-container__content ul {
    margin: auto;
    padding: 0;
    /* margin-top: 0.5rem; */
    width: 100%;
    display: inline-block;
  }
  
  .social-container__content-columns {
    list-style-type: none;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  
  .social-container__content-column {
    width: 100%;
    vertical-align: middle;
    margin: auto;
    display: inline-block;
  }


  .social-container__content-column__link {
    list-style-type: none;

    display: inline-block;
    /* text-align: center; */
  }
  .social-container__content-column__link img {
    vertical-align: middle;
    width: 5rem;
  }
  
  .social-container__content-column__link a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    /* text-align: center; */
  }


.contact-container__title {
    text-align: center;
}

.contact-container__methods {
    width:100%;
    text-align: center;
    padding-bottom: 3rem;

}

.contact-container__method {
    padding-bottom: 1rem;
}

.contact-container__method-type {
    font-weight: 600;
}

.contact-container__method-value {

}

@media (min-width: 57rem) {
    .about-container__content-image >img {
        width: 20vw;
    }

}
