
html {
    /* box-sizing: content-box; */
    height:100vh;
    width:100vw;
    font-size: 1rem;
}

body::-webkit-scrollbar {
    width: 0
}


body {
    height:100vh;
    width:100vw;
    font-family: 'Cherry Swash', cursive;
    color: rgb(255,255,255);
    margin:0;
    background: linear-gradient(
      0deg,
      rgba(108, 108, 108, 0.5),
      rgba(108, 108, 108, 0.5)
    ),
    url(images/main-banner.jpg) left 0% bottom 30% / cover no-repeat border-box;
  background-blend-mode: lighten, normal;
}
.container{
    position: absolute;
    width:100vw;
    top:10vh;
    left:0;
    border-top: 2px solid rgba(119, 119, 119, 0.5);
    border-bottom: 2px solid rgba(119, 119, 119, 0.5);
    background-color: rgba(165, 165, 165, 0.5);
    /* border-radius: 0.5rem; */
    
    margin-left:auto; 
    margin-right:auto;

    /* padding: 2rem 0; */
    box-shadow:0 12px 8px -8px rgba(0, 0, 0, 0.25);
}

/* .center {
    margin-left:auto; 
    margin-right:auto;
  } */

#temporary-banner{
    display: block;
    height: 40vh;    
}

.temporary-banner__title {
    font-size: 1.8rem;
    font-weight: 600;
    padding-top:1rem;
    margin:auto;
    display: block;
    text-align: center;
}


.temporary-banner__title2 {
    font-family: 'Poiret One', serif;
    font-size: 1.8rem;
    font-weight: 600;
    padding-top:1rem;
    margin:auto;
    display: block;
    text-align: center;
}

.temporary-banner__title > div{
    width:auto;
}

.temporary-banner__logo {
    /* height: 100%; */
    text-align: center;
    /* padding: 2rem 0; */
    
    margin-left:auto;
    margin-right: auto;
    display: block;
    
    width: 35vw;
}

.temporary-banner__logo img{
    width: 40vw;
    vertical-align: middle;
    margin: auto;
    /* padding-left:1rem; */
    padding-top:1rem;
}

.temporary-banner__subtitle {
    font-family: 'Poiret One', serif;
    font-size:1.5rem;
    font-weight: 600;
    margin:auto;
    display: block;
    text-align: center;
    padding:1rem 0;
    
}
.temporary-banner__etsy-button{
    font-family: 'Poiret One', serif;
    font-size:1.5rem;
    font-weight: 600;
    margin:auto;
    display: block;
    text-align: center;
    padding:3rem 0;
}

.temporary-banner__etsy-button a {
    vertical-align: middle;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 600;
    padding:0.8rem;
    background-color: #F56400;
    border-radius: 8px;
    box-shadow:0 10px 8px -8px rgba(0, 0, 0, 0.25);

}


.temporary-banner__etsy-button a:hover, .temporary-banner__etsy-button a:active{
    background-color: rgba(238, 238, 238, 0.502);
    color: rgba(119, 119, 119,0.5);
}

.temporary-banner__contact {
    font-family: 'Poiret One', serif;
    padding-top:2rem;

    width: 100vw;
    margin: auto;
    vertical-align: middle;
    text-align: center;
}

.temporary-banner__contact div{
    margin: auto;
    vertical-align: middle;
    text-align: center;
    font-size:1.5rem;

}

.temporary-banner__contact a {
    text-decoration: none;
    color: white;
    font-size:1.5rem;
}


.temporary-banner__social {
    width: 100vw;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    padding:1rem 0;

}

.temporary-banner__social img{
    width: 4rem;
    vertical-align: middle;
    text-align: center;
}

.temporary-banner__social img:hover{
    opacity: 0.5;
}

.temporary-banner__social a{
    width: 2rem;
    vertical-align: middle;
    text-align: center;
}

/* .temporary-banner__social-facebook {
    width: 2rem;
    height:2rem;
    display: block;
    background: url('images/facebook.svg');
    z-index: 10;
}

.temporary-banner__social-facebook:hover,
.temporary-banner__social-facebook:active {
    background: url('images/facebook-grey.svg');
}

.temporary-banner__social-facebook {
    width: 2rem;
    height:2rem;
    display: block;
    background: url('images/instagram.svg');
    z-index: 10;
}

.temporary-banner__social-facebook:hover,
.temporary-banner__social-facebook:active {
    background: url('images/instagram-grey.svg');
} */

@media ( min-width: 40rem)
{
    .temporary-banner__logo {       
        width: 25vw;
    }

    .temporary-banner__logo img{
        width: 30vw;
        padding-left:0rem;

    }
}