html {
  box-sizing: border-box;
  height: 120%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  height:100%;
}

.main-header {
  /* position: fixed; */
  /* top: 0;
  left: 0; */
  height:30%;
  width: 100%;
  z-index: 1;
}

.main-header__brand {
    position: absolute;
  height: 80px;
  vertical-align: middle;
  display: inline-block;
  padding: 8px 16px;
  right:16px;
  
}

.main-header__brand img {
  height: 100%;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.nav {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  background: linear-gradient(
      0deg,
      rgba(108, 108, 108, 0.5),
      rgba(108, 108, 108, 0.5)
    ),
    url(images/main-banner.png) left 0% bottom 60%/cover no-repeat border-box;
  background-blend-mode: lighten, normal;
  margin: auto;
  color: rgb(255, 255, 255);
}

.nav__header {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.8rem;
  padding: 0 50px;
  
}

.nav__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
}

.nav__link {
  display: inline-block;
  margin: 0 16px;
}

.nav__link a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.nav__link a:hover,
.nav__link a:active {
  color: rgb(158, 158, 158);
}

main{
    position: relative;
    height: 30%;
}

#site-banner {
  width: 60%;
  height: 100%;
  position: absolute;
  top: 30%;
  right:32px;
  /* left: 60%; */
  /* top:360px; */
  color: #444444;
  /* border: dashed gray 1px; */
  text-align: right;
}

#site-banner > h1 {
  position: relative;

    font-size: 1.2rem;
    padding-bottom: 16px;
}

#site-banner > p {
    position: relative;
    font-size: 1.0rem;
    
}

footer{
    position: relative;
    display: block;
    margin:auto;
    width:100%;
}

.main-footer {
  width:100%;
  height: 200px;
  background-color: #b4b4b4;
  position: relative;
  display: block;
  margin:auto;
}

.main-footer__info {
  position: relative;
  height:auto;
  width:40%;
  background-color: white;
  border-radius: 8px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 16px;
  padding: 16px;

}

.main-footer__info-columns {
    width:100%;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin:auto;
  }
  
 .main-footer__info-column{
   width:45%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    
 } 
  .info-column__link {
    list-style-type: none;
    vertical-align: middle;
    text-align: center;
  }
  
  .info-column__link a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(124, 124, 124);
    vertical-align: middle;
    text-align: center;
  }
  


/* Rectangle 3 */
