main {
  /* position: relative; */
  height: 65%;
  font-family: "Laila", serif;
}

#headline-container {
  width: 100%;
  height: 34%;
  color: #444444;
  text-align: right;
  display: inline-block;
}

#etsy-container {
  height: 33%;
  width: 100%;
  background-color: #e0e0e0;
}

#seasons-container {
  height: 33%;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.seasons-container_info-shape {
  width: 132px;
  height: 132px;
  background-color: rgb(190, 190, 190);
  border-radius: 50%;
  display: inline-block;
  padding: 8px;
  margin: 16px 24px;
  text-align: center;
}

/* Rectangle 3 */
