@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,700');
@import url('https://fonts.googleapis.com/css?family=Cherry+Swash:400,700');
@import url('https://fonts.googleapis.com/css?family=Poiret+One:400,700');

html {
  box-sizing: border-box;
  font-size: 1.1rem;
  font-weight: 400;
  /* height: 100%; */
}

body {
  font-family: "Poiret One", cursive;
  font-size: 1.1rem;
  color: #4b4b4b;
  margin: 0;
  width: 100%;
  /* height: 100%; */

  /* font-family: 'Poiret One', cursive; */
  /* font-family: 'Forum', cursive;
      font-family: 'Arima Madurai', cursive;
      font-family: 'Laila', serif;
      font-family: 'Cherry Swash', cursive; */
}

::-webkit-scrollbar {
  display: none;
}

header {
  /* height: 12rem; */
  width: 100%;

}

main {
  background-color: hsla(64, 26%, 78%, 0.05);
}

#main-header {
  font-family: "Cherry Swash", cursive;
  height: 100%;
  width: 100%;
  /* background: linear-gradient(
      0deg,
      rgba(87, 87, 87, 0.2),
      rgba(63, 63, 63, 0.1)
    ),
    url(images/main-banner.jpg) left 28% bottom 86% / cover no-repeat border-box; */
  /* background-blend-mode: lighten, normal; */
  margin: auto;
  filter: grayscale(20%);
  z-index: 1;
  /* padding-top: 0.5rem;
  padding-bottom: 1rem; */
  opacity: 0.9;
  display: flex;
}



/* #region mobile nav */

.main-header__brand-container {
  display: flex;
  justify-content: flex-end;
}

.mobile-nav {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-nav__button {
  color: #383b53;
  width: 2rem;
  padding: 0.5rem 1rem 0 1rem;
  cursor: pointer;
}

.mobile-nav__button--close {
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 1.8rem;
  /* padding:2rem 2rem; */

  cursor: pointer;
  z-index: 10;
}

.mobile-nav__menu-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  text-align: center;
}

.mobile-nav__menu {
  width: 100%;
  height: 100%;
  padding-top: 10vh;
}

.mobile-nav__links {
  margin: 0;
  padding: 0;
  /* display: flex;
  flex-direction: column;
  align-items:center; */
}

.mobile-nav__link {
  padding: 1rem;
  font-size: 2rem;
}

.mobile-nav__link a {
  color: #444444;
  text-decoration: none;
}

.mobile-nav__link__brand {
  width: 7rem;
  height: 7rem;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  padding-bottom: 3rem;
  color: white;
}

.mobile-nav__link__brand img {
  height: 100%;
}
/* #endregion */

/* #region nav */

.nav {
  width: 80%;
  /* display: block; */
  /* vertical-align: middle; */
  /* margin: auto; */
  text-align: center;
  padding:0.8rem;
}

.nav__header {
  font-size: 1.3rem;
  filter: none;
  margin:0;
  margin-left:1rem;

}

.nav__header a {
  text-decoration: none;
  color: #383b53;
}

.nav__header a:hover,
.nav__header a:active {
  color: #383b53;
}

.nav__links {
  display: none;
  margin: 0;
  padding: 0;
  width: 60%;
  list-style-type: none;
  vertical-align: middle;
  filter: none;
  text-align: center;
  padding-bottom: 1rem;
}

.nav__link {
  display: none;
  display: inline-block;
  margin: 0 1rem;
}

.nav__link a {
  display: none;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #383b53;
}

.nav__link a:hover,
.nav__link a:active {
  color: #d4d6b9;
}

.main-header__brand {
  width: 1.8rem;
  height: 1.8rem;
  filter: none;
  text-decoration: none;
}

.main-header__brand img {
  height: 100%;
}

/* #endregion  nav*/

/* #region default / mobile */
main {
  margin: 0;
}

#headline-container {
  font-weight: 500;
  width: 100%;
  /* height: 20rem; */
  color: #444444;
  margin: auto;
  padding-top: 2rem;
}

.headline-container__tagline {
  /* float: right; */
  font-size: 1.7rem;
  width: 90%;
  margin: auto;
  vertical-align: middle;
  padding-bottom: 2rem;
}

.headline-container__tagline > h1 {
  /* position: relative; */
  /* font-size: 1.2rem; */
  /* padding: 16px 0; */

  text-align: center;
}

.headline-container__tagline > p {
  /* position: relative; */
  /* font-size: 1rem; */
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-family: 'Istok Web', sans-serif;
  padding-bottom: 1rem;
}

.cta-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.contact__cta {
  width: 80%;
  margin:auto;
  display: flex;
  padding-top: 1rem;
}

.contact__cta-text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  display: inline-block;
  padding-bottom: 1rem;
}

.contact__button {
  width:14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  text-align: center;
  /* box-shadow: 0 12px 16px -6px rgba(0, 0, 0, 0.49); */
  /* background-color: #3B0C13; */
  margin: auto;
  border:solid 2px rgba(255, 255, 255, 0.75);
  border-radius: 8px;
}

.contact__button a {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
}

.contact__button:hover, 
.contact__button:active{
  background-color: #D4D6B9;
  border:solid 2px #66717E;
}

.contact__button--product {
  box-shadow: 0 12px 16px -6px rgba(0, 0, 0, 0.49); 
  background-color: #3B0C13;
  margin-bottom: 2rem;
}

.contact__button--etsy {
  box-shadow: 0 12px 16px -6px rgba(0, 0, 0, 0.49); 
  background-color: #f56400;
  margin-bottom: 2rem;
}

.privacy-container {
  width: 80%;
  margin: auto;
}



.privacy-container p, .privacy-container li {
  font-family: 'Istok Web', sans-serif;
  font-weight: 400;
  font-size:1rem;
}

footer {
  border-top: solid 4px #66717e;
  font-family: "Poiret One", cursive;
  font-size: 0.9rem;
  margin: auto;
  width: 100%;
  vertical-align: middle;
  background-color: #383b53;
  padding: 1rem 0;
  /* height: 12rem; */
}

#images-container {
  width: 100%;
  text-align: center;
  margin: auto;
  padding-bottom: 3rem;
  padding-top:1rem;
  background-color: rgba(212, 214, 185, 0.2);
}

.images-container-box {
  /* border:1px solid #cecece; */
  /* background-color: rgba(255, 255, 255, 0.5); */
  width: 90%;
  margin: auto;
  padding: 2rem 0;
}

.images-container-image {
  /* padding:1rem 0; */
  width: 100%;
  text-align: center;
  vertical-align: top;
  margin: auto;
  margin: 0;
}

.images-container-image img {
  padding: 1rem 0;
  vertical-align: top;
  width: 100%;
  height: auto;
  margin: auto;
}

#footer-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding-top: 1rem;
  text-align: center;
  vertical-align: middle;
}

.etsy__logo {
  width: 2rem;
  display: inline-block;
  padding-right: 0.5rem;
  vertical-align: middle;
}
.etsy__shop-button {
  width: 11rem;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 12px 16px -6px rgba(0, 0, 0, 0.49);
  background-color: #f56400;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.etsy__shop-button a {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}

.main-footer__info {
  width: 100%;
  color: white;
  /* height: 9rem; */
  /* display: inline-block; */
  /* background-color: white; */
  vertical-align: middle;
  /* border-radius: 0.2rem; */
  text-align: center;
  margin: auto;
}

.main-footer__info ul {
  margin: auto;
  padding: 0;
  /* margin-top: 0.5rem; */
  width: 100%;
}

.main-footer__info-columns {
  list-style-type: none;
  width: 100%;
  vertical-align: middle;
}

.main-footer__info-column {
  width: 100%;
  vertical-align: middle;
  margin: auto;
  padding: 0.5rem 0.5rem;
}

.main-footer__info-column__title {
  margin: 0;
  padding-bottom: 0.5rem;
  /* text-align: left; */
  font-size: 1rem;
  font-weight: 600;
}

.main-footer__info-column__links {
  margin: 0;
}

#changeOptions {
  cursor: pointer;
}

.info-column__link {
  list-style-type: none;
  vertical-align: middle;
  height: 2rem;
  padding:0.2rem 0;
  /* text-align: center; */
}
.info-column__link img {
  vertical-align: middle;
  width: 1.5rem;
}

.info-column__link a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  vertical-align: middle;
  /* text-align: center; */
}

.footer__copyright {
  margin: 0;
  width: 100%;
  /* height: 1rem; */
  vertical-align: middle;
  margin: auto;
  padding: 0.5rem 0;
}

.footer__copyright-info {
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 0.6rem;
}
/* #endregion */

/* gallery */

.gallery {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

  grid-gap: 0.5rem;
  align-items: stretch;
  padding-top: 1rem; */


  --numcolumns: 1;
  --gap: 0.25rem;
  --size: calc(100vw / var(--numcolumns));
  display: grid;
  grid-template-columns: repeat(var(--numcolumns), 1fr);
  
  grid-template-rows: auto;
  gap: var(--gap);
  align-items: stretch;
  
  list-style: none;
}

.gallery > div {
  display: block;
  height: calc(var(--size) - var(--gap));
}

.gallery > div img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
}

.gallery > div:active > img {
  position: fixed; /* Position the image on top of the viewport contents */
  z-index: 11;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain; /* Make sure the image isn't distorted */
  padding: 1vw; /* Add some padding to make it breathe a bit */
  background: rgba(0, 0, 0, 0.8); /* Dim the background */
}



.gallery > div > a.zoomout {
  display: none;
}

.gallery > div > a,
.gallery > div > a > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .gallery > div > a.zoomin:hover::after,
.gallery > div > a.zoomin:focus::after {
  content: '';
  display: block;
  background: rgba(255, 255, 255, 0.2) url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNCIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxMSIgY3k9IjExIiByPSI4Ii8+PGxpbmUgeDE9IjIxIiB4Mj0iMTYuNjUiIHkxPSIyMSIgeTI9IjE2LjY1Ii8+PGxpbmUgeDE9IjExIiB4Mj0iMTEiIHkxPSI4IiB5Mj0iMTQiLz48bGluZSB4MT0iOCIgeDI9IjE0IiB5MT0iMTEiIHkyPSIxMSIvPjwvc3ZnPg==) no-repeat 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
} */

.gallery > div:focus-within,
.gallery > div:target {
  overflow: visible;
  z-index: 1;
}

/* Make sure tile of active image is on top */
.gallery > div:target {
  z-index: 2;
}

/* Hide zoom in link when the tile is targetted */
.gallery > div:target > a.zoomin {
  display: none;
}

/* Show zoom out (close) link when the tile is targetted */
.gallery > div:target > a.zoomout {
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 12;
}

/* Stretch out the image */
.gallery > div > a.zoomout > img {
  object-fit: contain;
  padding: 1vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 11;
  background: rgba(0, 0, 0, 0.8);
}

/* Put close link on top */
.gallery > div:target > a.zoomout::after {
  content: 'Click or hit ESC to close';
  position: fixed;
  right: 1vw;
  bottom: 1vw;
  font-size: 1rem;
  color: #fff;
  z-index: 12;
} 


/* .gallery img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
  border: 0.25px solid #ccc;
} */

.container {
  margin: 0 0;
}

.container__content {
  width:100%;
}

.container__content h2 {
  font-size: 1.9rem;
  margin:0.5rem 0;
}

.container__content h3 {
  font-size: 1.6rem;
  margin:0.3rem 0;
}

.container__content-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.container__content-title {
  text-align: center;
}




.container__content-subtitle {
  margin-top:1.5rem;
}
.container__content-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Istok Web', sans-serif;
  line-height: 150%;
  text-align: left;
}

.container__content-text p {
  font-size: 1rem;
  margin:0.5rem 0;
  
}

.container__content-img {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__content-img img {
  width:90%;
}

.container__content-hrule {
  height: 0.1rem;
  width:90%;
  border-top:solid 0.25px hsla(0, 0%, 0%, 0.75);
  margin-top:0.7rem;
  padding-bottom:0.8rem;
}

#social-container {
  background-color: rgba(202, 98, 1, 0.2);
  text-align: center;
  padding: 3rem 0;
}


.social-container__content{
  width: 100%;
  color: white;
  text-align: center;
  margin: auto;
  display: inline-block;
}

.social-container__content ul {
  margin: auto;
  padding: 0;
  /* margin-top: 0.5rem; */
  width: 100%;
  display: inline-block;
}

.social-container__content-columns {
  list-style-type: none;
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.social-container__content-column {
  width: 100%;
  vertical-align: middle;
  margin: auto;
  display: inline-block;
}


.social-container__content-column__link {
  list-style-type: none;

  display: inline-block;
  /* text-align: center; */
}
.social-container__content-column__link img {
  vertical-align: middle;
  width: 5rem;
}

.social-container__content-column__link a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  vertical-align: middle;
  /* text-align: center; */
}
/* #region @media */

@media (min-width: 57rem) {
  #main-header {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 2px 16px 2px rgba(0, 0, 0, 0.25);
  }

  .mobile-nav__button {
    display: none;
  }

  .nav {
    display: inline-block;
    width: 100%;
    margin: auto;
  }

  .main-header__brand-container {
    display: inline-block;
    vertical-align: middle;
    padding: 1rem;
  }

  .nav__header {
    font-size: 1.5rem;
    margin: 0 0;
    padding: 0 2rem;
    display: inline-block;
    vertical-align: middle;
  }

  .main-header__brand {
    padding: 0;
    padding-bottom: 0.5rem;
    width: 5rem;
    height: 5rem;
    vertical-align: middle;
    filter: none;
    margin: auto;
  }

  .nav__links {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0;
    width: auto;
  }

  .nav__link a {
    display: inline-block;
  }

  #headline-container {
    width: 70%;
    padding: 2rem 0;
    margin: auto;
    text-align: center;
  }

  .headline-container__tagline {
    /* float: right; */
    width: 80%;
    display: inline-block;
    /* width: 65%; */
    /* padding-right: 1rem; */

    margin: auto;
  }

  .headline-container__tagline > h1 {
    font-size: 1.9rem;
  }

  .headline-container__tagline > p {
    font-size: 1.1rem;
    margin: 0;
  }

  .gallery {
    /* width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding-top: 0rem; */



    --numcolumns: 3;
    --gap: 0.25rem;
    --size: calc(100vw / var(--numcolumns));
    display: grid;
    grid-template-columns: repeat(var(--numcolumns), 1fr);
    
    grid-template-rows: auto;
    gap: var(--gap);
    align-items: stretch;
    
    list-style: none;
  }

  .container__content {
    width:50%;
  }

  .container__content-title--gallery {
    padding-bottom:1rem;
  }

  #footer-container {
    width: 80%;
    text-align: center;
    margin: auto;
  }
  #images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(235, 235, 235, 0.397);
    width: 100%;
    padding-top:1rem;
  }



  .images-container-box {
    /* border:1px solid #cecece; */
    /* background-color: rgba(255, 255, 255, 0.5); */
    border-radius: 16px;
    width: 50%;
    margin: auto;
    padding: 2rem 0;
  }

  .images-container-image {
    text-align: center;
    padding: 1rem 1rem;
    margin: 1rem 0;
    vertical-align: top;
    vertical-align: middle;
    /* padding:1rem 0; */
    width: 40%;
    display: inline-block;
    margin: auto;
  }

  .images-container-image img {
    padding: 0;
    /* margin: 0 2rem; */
    display: inline-block;
    box-shadow: 0 12px 16px -6px rgba(0, 0, 0, 0.49);
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 4px;
  }

  .main-footer__info {
    width: 100%;
    padding: 0 0 0 2rem;
  }

  .main-footer__info-columns {
    display: inline-block;
    padding: 0;
  }

  .main-footer__info-column {
    width: auto;
    text-align: left;
    display: inline-block;
    padding: 0 3rem;
  }

  .footer__copyright {
    margin: 0;
    width: 80%;
    vertical-align: middle;
    margin: auto;
  }

  .footer__copyright-info {
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 0.6rem;
    margin-left: 1rem;
  }
}

/* #endregion */

.display {
  display: none;
}
