html {
  box-sizing: border-box;
  /* height: 100%; */
}

body {
  font-family: "Cherry Swash", cursive;
  font-size: 1rem;
  color: #4b4b4b;
  margin: 0;
  width: 100%;
  /* height: 100%; */

  /* font-family: 'Poiret One', cursive;
      font-family: 'Forum', cursive;
      font-family: 'Arima Madurai', cursive;
      font-family: 'Laila', serif;
      font-family: 'Cherry Swash', cursive; */
}

header {
  height: 12rem;
  width: 100%;
}

#main-header {
  height: 100%;
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(108, 108, 108, 0.5),
      rgba(108, 108, 108, 0.5)
    ),
    url(images/main-banner.png) left 0% bottom 60% / cover no-repeat border-box;
  background-blend-mode: lighten, normal;
  margin: auto;
  color: rgb(255, 255, 255);
  filter: grayscale(20%);
  z-index: 1;
}

.nav {
  width: 80%;
  /* display: block; */
  vertical-align: middle;
  margin: auto;
  text-align: center;
}

.nav__header {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.8rem;
  padding: 0 2rem;
  filter: none;
}

.nav__header a {
  text-decoration: none;
  color: white;
}

.nav__header a:hover,
.nav__header a:active {
  color: rgb(158, 158, 158);
}

.nav__links {
  margin: 0;
  padding: 0;
  width: 60%;
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  filter: none;
  text-align: center;
}

.nav__link {
  display: inline-block;
  margin: 0 1rem;
}

.nav__link a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.nav__link a:hover,
.nav__link a:active {
  color: rgb(158, 158, 158);
}

.main-header__brand {
  /* position: absolute; */
  height: 5rem;
  vertical-align: middle;
  /* display: inline-block; */
  padding: 0.5rem 1rem;
  float: right;
  filter: none;
}

.main-header__brand img {
  height: 100%;
}

main {
  /* position: relative; */
  /* height: 65%; */
  width: 100%;
  font-family: "Laila", serif;
  margin: 0;
}

#headline-container {
  width: 80%;
  /* height: 20rem; */
  color: #444444;
  text-align: right;
  /* display: inline-block; */
  padding:  3rem 0;
  margin: auto;
}

.headline-container__tagline {
  /* float: right; */
  display: inline-block;
  width: 65%;
  margin: auto;
  vertical-align: middle;
  padding-left:1rem;
}

.headline-container__tagline > h1 {
  /* position: relative; */
  font-size: 1.2rem;
  /* padding: 16px 0; */

  text-align: right;
}

.headline-container__tagline > p {
  /* position: relative; */
  font-size: 1rem;
  text-align: right;
  margin: 0;
}

footer {
  font-family: "Laila", serif;
  font-size: 0.8rem;
  margin: auto;
  width: 100%;
  vertical-align: middle;
  background-color: #b1b1b1;
  height: 12rem;
}

#footer-container {
  width: 80%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.main-footer__info {
  width: 50%;
  height: 9rem;
  /* display: inline-block; */
  background-color: white;
  border-radius: 0.5rem;
  margin: 1rem auto;
}
.main-footer__info ul {
  margin: auto;
  padding: 0;
  /* margin-top: 0.5rem; */
  width:100%;
}

.main-footer__info-columns {
  list-style-type: none;
  width: 100%;

  vertical-align: middle;
}

.main-footer__info-column {
  width: 25%;
  
  vertical-align: middle;
  text-align: left;
  padding: 0.5rem 0.5rem;
}

.main-footer__info-column__title {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 0.7rem;
}

.main-footer__info-column__links {
  margin: 0;
}

.info-column__link {
  list-style-type: none;
  vertical-align: middle;
  /* text-align: center; */
}

.info-column__link a {
  text-decoration: none;
  font-size: 0.6rem;
  font-weight: 500;
  color: rgb(124, 124, 124);
  vertical-align: middle;
  /* text-align: center; */
}

@media (min-width: 40rem) {
  .main-footer__info-column__title {
    font-size: 0.9rem;
  }

  .info-column__link a {
    font-size: 0.8rem;
  }

  .main-footer__info-columns {

    display: inline-block;

  }

  .main-footer__info-column {
    display: inline-block;
  }
}

.footer__copyright {
  margin: 0;
  width:80%;
  height: 1rem;
  vertical-align: bottom;
}

.footer__copyright-info {
  color: white;
  text-align: left;
  vertical-align: bottom;
  font-size: 0.6rem;
  /* margin: 0 32px; */
  padding-top:0.5rem;
  margin-left: 1rem;
  /* position: static; */
  bottom: 1rem;
}
