html {
  box-sizing: border-box;
  font-size: 1.1rem;
  font-weight:400;
  /* height: 100%; */
}

body {
  font-family: 'Poiret One', cursive;
  font-size: 1rem;
  color: #4b4b4b;
  margin: 0;
  width: 100%;
  /* height: 100%; */

  /* font-family: 'Poiret One', cursive; */
  /* font-family: 'Forum', cursive;
      font-family: 'Arima Madurai', cursive;
      font-family: 'Laila', serif;
      font-family: 'Cherry Swash', cursive; */
}

header {
  /* height: 12rem; */
  width: 100%;

}

#main-header {
  font-family: "Cherry Swash", cursive;
  height: 100%;
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(108, 108, 108, 0.5),
      rgba(108, 108, 108, 0.5)
    ),
    url(images/main-banner.jpg) left 28% bottom 60% / cover no-repeat border-box;
  background-blend-mode: lighten, normal;
  margin: auto;
  color: rgb(255, 255, 255);
  filter: grayscale(20%);
  z-index: 1;
  padding-top: 2rem;
  padding-bottom:10rem;
}

/* #region mobile nav */

.mobile-nav__button {

  color: white;
  width: 2rem;
  padding: 0 2rem;
  cursor: pointer;
}

.mobile-nav__button--close {
  position: absolute;
  left: 2rem;
  top: 2rem;
  width: 2rem;
  /* padding:2rem 2rem; */

  cursor: pointer;
  z-index: 10;
}

.mobile-nav__menu-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  text-align: center;
}

.mobile-nav__menu {
  width: 100%;
  height: 100%;
  padding-top: 30vh;
}

.mobile-nav__links {
  margin: 0;
  padding: 0;
}

.mobile-nav__link {
  padding: 1rem;
  font-size: 2rem;
}

.mobile-nav__link a {
  color: #444444;
  text-decoration: none;
}

/* #endregion */

/* #region nav */

.nav {
  width: 80%;
  /* display: block; */
  vertical-align: middle;
  margin: auto;
  text-align: center;
}

.nav__header {
  display: inline-block;
  vertical-align: middle;
  font-size: 2.4rem;
  padding: 1rem 0 1rem 1rem;
  filter: none;
  margin: 1em 0 0.5rem 0;
}

.nav__header a {
  text-decoration: none;
  color: white;
}

.nav__header a:hover,
.nav__header a:active {
  color: rgb(158, 158, 158);
}

.nav__links {
  display: none;
  margin: 0;
  padding: 0;
  width: 60%;
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  filter: none;
  text-align: center;
  padding-bottom: 1rem;
}

.nav__link {
  display: none;
  display: inline-block;
  margin: 0 1rem;
}

.nav__link a {
  display: none;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.nav__link a:hover,
.nav__link a:active {
  color: rgb(158, 158, 158);
}

.main-header__brand {
  /* position: absolute; */
  width: 5rem;
  height: 5rem;
  vertical-align: middle;
  /* display: inline-block; */
  padding: 0.5rem 1rem;
  /* float: right; */
  filter: none;
  margin: auto;
  padding-bottom: 1rem;
}

.main-header__brand img {
  height: 100%;
}

/* #endregion  nav*/

main {
  /* position: relative; */
  /* height: 65%; */

  width: 100%;

  margin: 0;
}

#headline-container {
  font-weight:500;
  width: 100%;
  /* height: 20rem; */
  color: #444444;
  margin: auto;
  padding-top: 2rem;
}

.headline-container__tagline {
  /* float: right; */
  font-size:1.2rem;
  width: 90%;
  margin: auto;
  vertical-align: middle;
  padding-bottom: 2rem;
}

.headline-container__tagline > h1 {
  /* position: relative; */
  /* font-size: 1.2rem; */
  /* padding: 16px 0; */

  text-align: center;
}

.headline-container__tagline > p {
  /* position: relative; */
  /* font-size: 1rem; */
  text-align: center;
  margin: 0;
}

footer {
  font-family: 'Poiret One', cursive;
  font-size: 0.9rem;
  margin: auto;
  width: 100%;
  vertical-align: middle;
  background-color: #535353;
  /* height: 12rem; */
}

#images-container{
  width:90%;
  text-align: center;
  margin: auto;
  padding-bottom:3rem;
}

.images-container-image{
  /* padding:1rem 0; */
  width: 100%;
  text-align: center;
  vertical-align: top;
  margin: auto;
  margin:0;
  border:0;
}

.images-container-image img{
  padding:2rem 0;
  vertical-align: top;
  width: 100%;
  height: auto;
  margin: auto;
}


#footer-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding-top: 1rem;
  text-align: center;
  vertical-align: middle;
}

.main-footer__info {
  width: 100%;
  color:white;
  /* height: 9rem; */
  /* display: inline-block; */
  /* background-color: white; */
  vertical-align: middle;
  /* border-radius: 0.2rem; */
  text-align: center;
  margin: auto;

}

.main-footer__info ul {
  margin: auto;
  padding: 0;
  /* margin-top: 0.5rem; */
  width: 100%;
}

.main-footer__info-columns {
  list-style-type: none;
  width: 100%;
  vertical-align: middle;
}

.main-footer__info-column {
  width: 100%;
  vertical-align: middle;
  margin: auto;
  padding: 0.5rem 0.5rem;
}

.main-footer__info-column__title {
  margin: 0;
  padding-bottom: 0.5rem;
  /* text-align: left; */
  font-size: 1rem;
  font-weight: 600;
}

.main-footer__info-column__links {
  margin: 0;
}

.info-column__link {
  list-style-type: none;
  vertical-align: middle;
  height: 2rem;
  /* text-align: center; */
}
.info-column__link img {
  vertical-align: middle;
  width:1.5rem;
}

.info-column__link a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  vertical-align: middle;
  /* text-align: center; */
}

.footer__copyright {
  margin: 0;
  width: 100%;
  /* height: 1rem; */
  vertical-align: middle;
  margin: auto;
  padding:0.5rem 0;
}

.footer__copyright-info {
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 0.6rem;
}

@media (min-width: 40rem) {
#main-header {
  padding-top: 2rem;
  padding-bottom:4rem;
}

  .mobile-nav__button {
    display: none;
  }

  .nav__header {
    display: inline-block;
    font-size: 1.8rem;
    margin: 0 0;
    padding: 4rem 0;
  }

  .nav__links {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0;
  }

  .nav__link a {
    display: inline-block;
  }

  .main-header__brand {
    display: inline-block;
    padding: 0;
  }

  #headline-container {
    width: 70%;
    padding: 3rem 0;
    margin: auto;
    text-align: center;
  }

  .headline-container__tagline {
    /* float: right; */
    width: 80%;
    display: inline-block;
    /* width: 65%; */
    /* padding-right: 1rem; */

    margin:auto;
  }

  .headline-container__tagline > h1 {
    /* position: relative; */
    font-size: 1.2rem;
    /* padding: 16px 0; */

    /* text-align: left; */
  }

  .headline-container__tagline > p {
    /* position: relative; */
    font-size: 1.2rem;
    /* text-align: left; */
    margin: 0;
  }

  #footer-container {
    width: 80%;
    text-align: center;
    margin:auto;
  }
  #images-container{
    text-align: center;

  }
  .images-container-image{
    text-align: center;
    padding:1rem 1rem;
    vertical-align: middle;
    /* padding:1rem 0; */
    width: 40%;
    display: inline-block;
    margin:auto;
  }

  .images-container-image img{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: auto;
margin:auto;
  }

  .main-footer__info {
    width: 100%;
    /* padding:1rem; */
  }

  .main-footer__info-columns {
    display: inline-block;
  }

  .main-footer__info-column {
    width: 25%;
    text-align: left;
    display: inline-block;
  }

  .footer__copyright {
    margin: 0;
    width: 80%;
    vertical-align: middle;
    margin: auto;
  }

  .footer__copyright-info {
    color: white;
    text-align: left;
    vertical-align: middle;
    font-size: 0.6rem;
    margin-left: 1rem;
  }
}



.display {
  display: none;
}
